{% extends 'base.html' %}

{% load static %}

{% block title %}Event+{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'landingpage/css/landing.css' %}">
{% endblock css %}

{% block content %} 
<h1 class="text-center">Selamat datang di Event+</h1>
{% if not auth %}
<p class="text-center mb-5">
    Website di mana kamu bisa melihat acara-acara yang telah, akan, maupun sedang berlangsung.<br>
    Kamu bisa membuat event ataupun mengubah event yang sudah kamu buat! <br>
    Tidak hanya itu, kamu juga bisa memesan tiket untuk menghadiri acara tersebut!<br>
    Tunggu apa lagi, ayo bergabung sekarang juga!
</p>
<div class="row">
    <div class="col shadow-lg p-3 mb-5 bg-black rounded">
        <p>
            Jika kamu sudah memiliki akun, bisa klik tombol dibawah ini ya!
        </p>
        <div class="text-center">
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </div>
    <div class="col"></div>
    <div class="col shadow-lg p-3 mb-5 bg-black rounded">
        <p>
            Belum punya akun? klik tombol dibawah ini untuk mendaftar!
        </p>
        <div class="text-center">
            <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col shadow-lg p-3 mb-5 bg-black rounded">
        <p>
            Ingin keluar dari akun? Klik tombol dibawah ini!
        </p>
        <div class="text-center">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="col shadow-lg p-3 mb-5 bg-black rounded">
        <p>
            Ingin melihat daftar event? Klik tombol dibawah ini!
        </p>
        <div class="text-center">
            <a href="{% url 'event:daftar_event' %}">Daftar Event</a>
        </div>
    </div>
</div>
{% endif %}


{% endblock content %}