{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block title %}Create Event{% endblock title %}
{% block content %}
<h1 class="text-center">Buat Event</h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <table class="table table-light table-striped formContainerGedung">
        <tr>
            <th>Nama Gedung</th>
            <th>Kota</th>
            <th>Alamat</th>
        </tr>
        {% for form in kelasTiketForm %}
        <tr>
            <td>{{ form.nama_kelas }}</td>
            <td>{{ form.tarif }}</td>
            <td>{{ form.kapasitas }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="#" class="tambah-gedung">Tambah Row</a>
    <button type='submit'>Create</button>
    <a href="{% url 'event:daftar_event' %}">Cancel</a>
</form>
{% endblock content %}

{% block script %}

{% endblock script %}
