{% extends 'base.html' %}
{% load static %}
{% block title %}Event{% endblock title %}

{% block css %} 
<link rel="stylesheet" href="{% static 'event/css/daftar_event.css' %}">
{% endblock css %}

{% block content %}
<h1 class="text-center">Event+ - Daftar Event</h1>
{% if role == 'Organizer' %}
{% endif %}
<form action="/" method="get">
  <input type="text" name="q" placeholder="Search Box">
  <button type="submit">Search</button>
</form>
<table class="table table-dark table-striped" >
    <tr>
      <th>Nama Tema</th>
      <th>Nama Event</th>
      <th>Organizer</th>
      <th>Lokasi</th>
      <th>Tanggal</th>
      <th>Jam</th>
      <th>Kapasitas</th>
      {% if role == 'Organizer' %}
      <th>Edit Event</th>
      <th>Delete Event</th>
      {% else %}
      <th>Pesan Tiket </th>
      {% endif %}
    </tr>
    {% for e in page %}
    <tr>
        <td>{{ e.nama_tema }}</td>
        <td>{{ e.nama }}</td>
        <td>{{ e.nama_organizer }}</td>
        <td>{{ e.nama_gedung }}</td>
        <td>{{ e.tanggal_mulai }} - {{ e.tanggal_selesai }}</td>
        {% if e.jam_mulai != None %}
          <td>{{ e.jam_mulai }} - {{ e.jam_selesai }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <td>{{ e.kapasitas_total_tersedia }}</td>
        {% if role == 'Organizer' %}
          {% if email == e.email_organizer %}
            {% if time < e.tanggal_selesai %}
              <td><a href="{% url 'event:update_event' e.id_event%}">Edit</a></td>
              <td><a href="{% url 'event:delete_event' e.id_event %}">Delete</a></td>
            {% else %}
              <td></td>
              <td></td>
            {% endif %}
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        {% else %}
          <td>{% if e.kapasitas_total_tersedia == 0 or time < e.tanggal_selesai %}  {% else %} <a href="{% url 'pesanan:pesan_tiket' %}">Pesan Tiket</a> {% endif %}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if page.has_other_pages %}
<ul class="pagination">
  {% if page.has_previous %}
    <li class ="page-link"><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
  {% endif %}

  {% for i in page.paginator.page_range %}
    {% if page.number == i %}
      <li class="page-item active">
        <div class="page-link">
          Page <span>{{ i }}<span class="sr-only"></span></span>
        </div> 
      </li>
    {% else %}
      <li class="page-link"><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page.has_next %}
    <li class="page-link"><a href="?page={{ user.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
{% endblock content %}