{% extends 'base.html' %}

{% block title %}Create Event{% endblock title %}

{% block content %}
<h1 class="text-center">Event+ - Hapus Event</h1>
<p>Apakah anda yakin untuk menghapus event ini?</p>

<a href="{% url 'event:confirm_delete' id %}">Ya</a>
<a href="{% url 'event:daftar_event' %}">Tidak</a>
{% endblock content %}
