{% extends 'base.html' %}
{% load static %}
{% block title %}Event{% endblock title %}

{% block content %}
<h1 class="text-center">Event+ - Daftar Event Saya</h1>
<table class="table table-dark table-striped">
    <tr>
      <th>Nama Tema</th>
      <th>Nama Event</th>
      <th>Lokasi</th>
      <th>Tanggal</th>
      <th>Jam</th>
      <th>Kapasitas</th>
      <th>Edit Event</th>
      <th>Delete Event</th>
    </tr>
    {% for e in event %}
    <tr>
        <td>{{ e.nama_tema }}</td>
        <td>{{ e.nama }}</td>
        <td>{{ e.nama_gedung }}</td>
        <td>{{ e.tanggal_mulai }} - {{ e.tanggal_selesai }}</td>
        {% if e.jam_mulai != None %}
        <td>{{ e.jam_mulai }} - {{ e.jam_selesai }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ e.kapasitas_total_tersedia }}</td>
        {% if time < e.tanggal_selesai %}
        <td><a href="{% url 'event:update_event' e.id_event%}">Edit</a></td>
        <td><a href="{% url 'event:delete_event' e.id_event %}">Delete</a></td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}