{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block title %}Update Event{% endblock title %}

{% block content %}
<h1 class="text-center">Update Event</h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Lokasi</p>
    <table class="table table-light table-striped formContainerGedung">
        <tr>
            <th>Nama Gedung</th>
            <th>Kota</th>
            <th>Alamat</th>
            <th>Hapus</th>
        </tr>
    </table>
    <button class="tambah-gedung">Tambah</button>
    
    <p>Kelas Tiket</p>
    <table class="table table-light table-striped formContainerKelasTiket">
        <tr>
            <th>Nama Kelas</th>
            <th>Tarif</th>
            <th>Kapasitas</th>
            <th>Hapus</th>
        </tr>
    </table>
    <button class="tambah-kelas-tiket">Tambah</button>
    <br>
    <button type="submit" id='submitUpdate'>Update</button>
    <a href="{% url 'event:daftar_event' %}">Cancel</a>
</form>
{% endblock content %}

{% block script %}
<script>
    
// Lokasi
const stateGedung = {
    nama: $("input[name='nama']").val(),
    desc: $("input[name='desc']").val(),
    tema: $("input[name='tema']").val(),
    tema: $("input[name='tema']").val(),
    dataGedung:[],
    dataKelasTiket:[],
}
console.log($("input[name='tema']").val())

$('input').change(e => {
    data[e.target.name] = e.target.value
})
fetch("{% url 'event:get_lokasi' id %}").then(r=>r.json()).then(d=>{
    stateGedung.dataGedung=d.data
    renderGedung(stateGedung.dataGedung)
})

function renderGedung(data) {
    $('.formContainerGedung').html('')
    $('.formContainerGedung').append(`<tr style="color:white">
            <th>Nama Gedung</th>
            <th>Kota</th>
            <th>Alamat</th>
            <th>Hapus</th>
        </tr>`)
    data.map((gedung, idx)=> {  
        const row = $('<tr></tr>')
        const nama_gedung_input = $(`<input type="text" name="nama_gedung" placeholder="Nama Gedung" required  value="${gedung.nama_gedung}">`)
        const kota_input = $(`<input type="text" name="kota" placeholder="Kota" required value="${gedung.kota}">`)
        const alamat_input = $(`<input type="text" name="alamat" placeholder="Alamat" required value="${gedung.alamat}">`)
        nama_gedung_input.change(e=>{
            stateGedung.dataGedung[idx]['nama_gedung']=e.target.value
        })
        kota_input.change(e=>{
            stateGedung.dataGedung[idx]['kota']=e.target.value
        })
        alamat_input.change(e=>{
            stateGedung.dataGedung[idx]['alamat']=e.target.value
        })
        row.append($('<td></td>').append(nama_gedung_input))
        row.append($('<td></td>').append(kota_input))
        row.append($('<td></td>').append(alamat_input))
        row.append($('<td></td>').append('<a href="#">Hapus</a>'))
        $('.formContainerGedung').append(row)
        })
    }

$('.tambah-gedung').click((e)=>{
        e.preventDefault()
        stateGedung.dataGedung.push({
            nama_gedung:'',
            kota:'',
            alamat:''
        })
        renderGedung(stateGedung.dataGedung)
    })

// Kelas Tiket
fetch("{% url 'event:get_kelas_tiket' id %}").then(r=>r.json()).then(d=>{
    stateGedung.dataKelasTiket=d.data
    renderKelasTiket(stateGedung.dataKelasTiket)
})

function renderKelasTiket(data) {
    $('.formContainerKelasTiket').html('')
    $('.formContainerKelasTiket').append(`<tr style="color:white">
            <th>Nama Kelas</th>
            <th>Tarif</th>
            <th>Kapasitas</th>
            <th>Hapus</th>
        </tr>`)
    data.map((kelasTiket, idx)=> {  
        const row = $('<tr></tr>')
        const nama_kelas_input = $(`<input type="text" name="nama_kelas" placeholder="Nama Kelas" required  value="${kelasTiket.nama_kelas}">`)
        const tarif_input = $(`<input type="number" name="tarif" placeholder="Tarif" required value="${kelasTiket.tarif}">`)
        const kapasitas_input = $(`<input type="number" name="kapasitas" placeholder="Kapasitas" required value="${kelasTiket.kapasitas}">`)
        nama_kelas_input.change(e=>{
            stateGedung.dataKelasTiket[idx]['nama_kelas']=e.target.value
        })
        tarif_input.change(e=>{
            stateGedung.dataKelasTiket[idx]['tarif']=e.target.value
        })
        kapasitas_input.change(e=>{
            stateGedung.dataKelasTiket[idx]['kapasitas']=e.target.value
        })
        row.append($('<td></td>').append(nama_kelas_input))
        row.append($('<td></td>').append(tarif_input))
        row.append($('<td></td>').append(kapasitas_input))
        row.append($('<td></td>').append('<a href="#">Hapus</a>'))
        $('.formContainerKelasTiket').append(row)
        })
    }

$('input').change(e => {
    if (e.target.name !== 'dataGedung' && e.target.name !== 'dataKelasTiket') {
        data[e.target.name] = e.target.value
    }   
})

$('.tambah-kelas-tiket').click((e)=>{
        e.preventDefault()
        stateGedung.dataKelasTiket.push({
            nama_kelas:'',
            tarif:0,
            kapasitas:0
        })
        renderKelasTiket(stateGedung.dataKelasTiket)
    })

$('form').submit(e=>{
    e.preventDefault()
    fetch("{% url 'event:update_event' id %}", {
        method: "post",
        headers: {
            'X-CSRFToken': getCookie("csrftoken"),
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },

        //make sure to serialize your JSON body
        body: JSON.stringify({
            ...stateGedung,
            'dataKelasTiket':stateGedung.dataKelasTiket,
            'dataGedung':stateGedung.dataGedung
        })
    })
    .then( (response) => { 
    //do something awesome that makes the world a better place
});
})

function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
</script>
{% endblock script %}