{% extends 'base.html' %}
{% load static %}
{% load pesanan_extras %}

{% block title %}Pesan Tiket{% endblock title %}

{% block css %}
<!-- Bootstrap CDN CSS -->
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">

<!-- Quicksand Font Link -->
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
{% endblock css %}

{% block content %}


<h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px; margin-top:40px; padding-left:5%; padding-right:5%; text-align:center;">PESAN TIKET</h1> </br>


<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Tema Event: [ {{ event.nama_tema }} ]</h3>

<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Nama Event: [ {{ event.nama }} ]</h3>

<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Deskripsi Event: [ {{ event.deskripsi }} ]</h3>

<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Tanggal: [ {{ event.tanggal_mulai }} ] - [ {{ event.tanggal_selesai }} ]</h3>

<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Lokasi Event: [ {{ event.nama_gedung }}, {{ event.kota }}, {{ event.alamat }} ]</h3>

<h3 style="font-family: Quicksand; font-weight: bold; font-size: 18px; padding-left:5%; padding-right:5%;">
> Tipe Event: [ {{ event.nama_tipe }} ]</h3>


{% for kelas in kelasTiket %}

<h2 style="font-family: Quicksand; font-weight: bold; font-size: 25px; margin-top:30px; padding-left:2%; padding-right:2%;text-align:center;">
	[Nama Kelas Tiket: '{{ kelas.nama_kelas }}'] – [Tarif Kelas Tiket: '{{ kelas.tarif }}'] –
	[Kapasitas Kelas Tiket: '{{ kelas.kapasitas }}'] – [Kapasitas Kelas Tersedia Tiket: '{{ kelas.kapasitas_tersedia }}']</h2>

<!-- Bootstrap Card Group -->
<div class="container" style="margin-top:40px; margin-bottom:40px; padding-right:2%; padding-left:2%;">

	<!-- Card Containing UserCreationForm -->
	<div class="card" style="box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">

		<!-- Card Body -->
		<div class="container" style="margin-top:40px; margin-bottom:40px;">


			<table style="width:100%">
				<tr>
					<th style="text-align:center;">Nama Pemesan</th>
					<th style="text-align:center;">Email Pemesan</th>
					<th style="text-align:center;">Hapus Pemesanan</th>
				</tr>

				{% for daftar in daftarTiket %}
				{% if daftar.nama_kelas == kelas.nama_kelas %}
    			<tr>
        			<td style="text-align:center;">[{{ daftar.nama_pemilik_tiket }}]</td>
        			<td style="text-align:center;">[{{ daftar.email_pemilik_tiket }}]</td>
        			<td style="text-align:center;"><a href="{% url 'pesanan:delete_daftar_tiket' daftar.email_pemilik_tiket|addstr:';'|addstr:daftar.waktu_transaksi|addstr:';'|addstr:daftar.tanggal_transaksi|addstr:';'|addstr:daftar.nama_kelas %}">
        			[Hapus Row]</a></td>
    			</tr>
    			{% endif %}
    			{% endfor %}

			</table> </br>

			<a style="padding-left:5%;" href="{% url 'pesanan:add_daftar_tiket' transaksi.waktu|addstr:';'|addstr:transaksi.tanggal|addstr:';'|addstr:kelas.nama_kelas %}">
			[Tambah Row]</a> </br>

		</div>
	</div>
</div>

{% endfor %}


<div style="margin-bottom:40px; padding-left:5%; padding-right:5%;">
	<a style="padding-right:5%;" href="{% url 'pesanan:buat_transaksi' transaksi.waktu|addstr:';'|addstr:transaksi.tanggal %}">[Buat Transaksi]</a> 
	<a style="padding-left:5%;" href="{% url 'pesanan:cancel_pesan_tiket' transaksi.waktu|addstr:';'|addstr:transaksi.tanggal %}">[Cancel]</a>
</div>

{% endblock content %}

{% block script %}

<!-- Bootstrap CDN JS -->
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
crossorigin="anonymous"></script>

{% endblock script %}