{% extends 'base.html' %}
{% load static %}
{% load pesanan_extras %}

{% block title %}Transaksi Saya{% endblock title %}

{% block css %}
<!-- Bootstrap CDN CSS -->
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">

<!-- Quicksand Font Link -->
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
{% endblock css %}

{% block content %}

<h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px; margin-top:40px; padding-left:5%; padding-right:5%; text-align:center;">TRANSAKSI SAYA</h1> </br>

<!-- Bootstrap Card Group -->
<div class="container" style="margin-top:40px; margin-bottom:40px; padding-right:2%; padding-left:2%;">

	<!-- Card Containing UserCreationForm -->
	<div class="card" style="box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">

		<!-- Card Body -->
		<div class="container" style="margin-top:40px; margin-bottom:40px;">


			<table style="width:100%">
				<tr>
					<th style="text-align:center;">Tanggal Transaksi</th>
					<th style="text-align:center;">Waktu Transaksi</th>
					<th style="text-align:center;">Status Transaksi</th>
					<th style="text-align:center;">Total Bayar</th>
					<th style="text-align:center;">[Edit Transaksi]</th>
					<th style="text-align:center;">[Delete Transaksi]</th>
				</tr>

                {% for t in transaksi %}

    			<tr>
        			<td style="text-align:center;">{{ t.tanggal }}</td>
        			<td style="text-align:center;">{{ t.waktu }}</td>

					{% if t.status == 'Incomplete' %}
                    <td style="text-align:center;"><a href="{% url 'transaksi:transaksi' t.waktu|addstr:';'|addstr:t.tanggal %}">{{ t.status }}</a></td>

                    {% else %}
        			<td style="text-align:center;">{{ t.status }}</td>

                    {% endif %}

        			<td style="text-align:center;">{{ t.total_bayar }}</td>
        			<td style="text-align:center;"><a href="{% url 'pesanan:edit_transaksi' t.waktu|addstr:';'|addstr:t.tanggal %}">[Edit]</a></td>
        			<td style="text-align:center;">
                        <a href="{% url 'pesanan:delete_transaksi' t.waktu|addstr:';'|addstr:t.tanggal %}">
                        [Delete]</a>
                    </td>
    			</tr>

                {% endfor %}

    			<tr>
        			<td style="text-align:center;">dst</td>
        			<td style="text-align:center;">dst</td>
        			<td style="text-align:center;">dst</td>
        			<td style="text-align:center;">dst</td>
        			<td style="text-align:center;">dst</td>
        			<td style="text-align:center;">dst</td>
    			</tr>
			</table> </br>

		</div>
	</div>
</div>

{% endblock content %}

{% block script %}

<!-- Bootstrap CDN JS -->
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
crossorigin="anonymous"></script>

{% endblock script %}