body {
    background-color: #323031;
    color: whitesmoke;
}

.navbar-brand {
    margin-left: 10px;
    font-size: 36px;
}

.subtitle {
    font-size: 22px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: gray;
}