#squareContainer {
    border: 1px solid rgb(0, 0, 0);
}

#judul {
    text-align: center;
    padding-top: 2%;
}

/* #center {
    text-align: center;
} */

#totalB {
    text-align: right;
}

#yesNo {
    text-align: center;
}

.formControl {
    width: 50%;
}