{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block title %}Login{% endblock title %}

{% block content %}
<h1>Event+ - Login</h1>
{% if flag %}
{{error}}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Log In</button>
</form>
{% endblock content %}