{% extends 'base.html' %}

{% block title %}Daftar{% endblock title %}

{% block content %}
<h1>Event+ - Register</h1>
<p>Pilih tipe pendaftaran</p>
<a href="{% url 'register_pengunjung'%}">Pengunjung</a><br>
<a href="{% url 'register_organizer' %}">Organizer</a>
{% endblock content %}