{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block content %}
<p>Event+ - Registration Pengunjung</p>
{% if flag %}
{{error}}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Register</button>
    <a href="{% url 'event:daftar_event' %}">Cancel</a>
</form>
{% endblock content %}