{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
<h1>Event+ - Registration Organizer</h1>
{% if flag %}
{{error}}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    <a href="{% url 'event:daftar_event' %}">Cancel</a>
</form>
{% endblock content %}