{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title here{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 75px;">
    <a class="navbar-brand" href="{% url 'event:daftar_event' %}">Event+</a>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:80px; background-color: transparent; box-shadow: 0 0 0; color:white;">Menu</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'event:daftar_event' %}">Daftar Event</a>
            {% if auth %}
                {% if role == 'Organizer' %}
                    <a class="dropdown-item" href="{% url 'event:my_event' %}">Event Saya</a>
                    <a class="dropdown-item" href="{% url 'event:create_event' %}">Buat Event</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'pesanan:transaksi_saya' %}">Transaksi</a>
                {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'blue:profil' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
</body>
</html>