{% extends 'base.html' %}

{% load static %}
{% load pesanan_extras %}


{% block title %}Event+{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'transaksi/css/template.css' %}">
{% endblock css %}
{% block content %} 
{% block nav %}{% endblock nav %} 
    <br>
    <form method="POST">{% csrf_token %}
        <div class="container" id="squareContainer">
            <div class="container" id="header">
                <div class="row">
                    <h2 id="judul">Konfirmasi Transaksi</h2>
                </div><br>
                <div class="row">
                    {% for data in dompetD %}
                    <h5 name="nama">Nama Dompet: {{ data.nama }}</h5>
                    <h5 name="noakun">No Akun Dompet: {{ data.no_akun }}</h5>
                    <h5 name="saldo">Saldo Awal: {{ data.saldo }}</h5>
                    <h5 >Total Bayar: {{ totalB }}</h5>
                    {% endfor %}
                </div><br>
                <div class="row">
                    <h5 name="total">Saldo Akhir: {{ counter }}</h5>
                </div>
            </div><br>
                <div class="container">
                    
                    <div class="row"> <h5 id="yesNo">Apakah anda yakin untuk membayar transaksi ini?</h5>
                        <div class="col-3">
                            <a href="{% url 'pesanan:transaksi_saya' %}">
                                <button type="submit" class="btn btn-primary">Ya</button>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'transaksi:transaksi' waktuT|addstr:';'|addstr:tanggalT %}">
                                <button type="submit" class="btn btn-primary">Tidak</button>
                            </a>
                        </div>
                    </div>
                </div><br>
            </div><br>
        </div>
    </form>


{% endblock content %}