{% extends 'base.html' %}

{% load static %}
{% load transaksi_extras %}

{% block title %}Event+{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'transaksi/css/template.css' %}">
{% endblock css %}
{% block content %} 
{% block nav %}{% endblock nav %}  
    <br>
    <div class="container" id="squareContainer">
        <div class="container" id="header">
        <div class="row">
            <h2 id="judul">Bayar Transaksi</h2>
        </div><br>
        <div class="row">
            <h5>Tanggal Transaksi: {{ tanggalT }}</h5>
            <h5>Waktu Transaksi: {{ waktuT }}</h5>
        </div>
        </div><br>
        <div class="container" id="tabel">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Event</th>
                        <th scope="col">Nama Pemilik Tiket</th>
                        <th scope="col">Nama Kelas</th>
                        <th scope="col">Tarif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in kelasTransaksi %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ data.nama }}</td>
                        <td>{{ data.nama_pemilik_tiket }}</td>
                        <td>{{ data.nama_kelas }}</td>
                        <td>{{ data.total_bayar }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br>
        <div class="container">
            <h5 id="totalB">Total Bayar: {{ totalB }}</h5>
        </div><br>
        <div class="container" id="tabel">
            <div class="row">
                <h5>Bayar Dengan Dompet Digital</h5>
            </div>
            <div class="row">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">No Akun</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">[Bayar dengan Akun ini / Top Up Saldo]</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in dompetD %}
                    <tr>
                        <td>{{ data.nama }}</td>
                        <td>{{ data.no_akun }}</td>
                        <td>{{ data.saldo }}</td>
                        <td><a href="{% url 'transaksi:konfirmasiTransaksi' waktuT|addstr:';'|addstr:tanggalT%}">Bayar dengan Akun ini</a>/
                            <a href="">Top Up Saldo</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><br>
    </div>

    {% endblock content %}