{% extends 'base.html' %}

{% block title %}Saldo Dompet{% endblock title %}



{% block content %}
<center>
    <h1>Dompet Digital</h1>
    <table style="width:50%">
        <tr>
            <th>Nama</th>
            <td>{{ wallet.nama }}</td>
        </tr>
        <tr>
            <th>Saldo</th>
            <td>{{ wallet.saldo }}</td>
        </tr>
        <tr>
            <th>Nomor Akun</th>
            <td>{{ wallet.no_akun }}</td>
        </tr>
        <tr>
            <th>Email Pengunjung</th>
            <td>{{ wallet.email_pengunjung }}</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td><button href="{% url 'blue:tambahSaldo'}">Tambah Saldo</button></td>
        </tr>
    </table>
</center>

{% endblock content %}
