{% extends 'base.html' %}

{% block title %}Edit Profil{% endblock title %}



{% block content %}
<center>
    <h1>Edit Profile</h1>
    <form action="/action_page.php">
        <label for="fname">Email:</label><br>
        <input type="text"><br>
        <label for="fname">Password:</label><br>
        <input type="text"><br>
        <label for="fname">NPWP:</label><br>
        <input type="text"><br>
        <label for="fname">Nama:</label><br>
        <input type="text"><br>
        <input type="submit" value="Submit" href="{% url 'blue:ProfilPerusahaan'}">
    </form>
</center>
{% endblock content %}
