{% extends 'base.html' %}

{% block title %}Profil{% endblock title %}



{% block content %}
<center>
    <h1>Profil</h1>
    <table style="width:50%">
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ passw.password }}</td>
        </tr>
        <tr>
            <th>Nama Depan</th>
            <td>{{ profile.nama_depan }}</td>
        </tr>
        <tr>
            <th>Nama Belakang</th>
            <td>{{ profile.nama_belakang }}</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td><button href="{% url 'blue:editProfilPengunjung'}">Edit</button></td>
        </tr>
    </table>
    <a  href="{% url 'blue:dompetDigital'}">
        <p>Cek Dompet</p>
    </a>
</center>

{% endblock content %}
