{% extends 'base.html' %}

{% block title %}Tambah Saldo{% endblock title %}



{% block content %}
<center>
    <h1>Tambah Saldo</h1>
    <table style="width:50%">
        <tr>
            <th>Saldo sekarang: </th>
            <td>Rp8.050.000</td>
        </tr>
    </table>
    <form action="/action_page.php">
        <label for="fname">Tambahkan:</label><br>
        <input type="text"><br><br>
        <input type="submit" value="Submit" href="{% url 'blue:dompetDigital'}">
    </form>
</center>
{% endblock content %}
