{% extends 'base.html' %}

{% load static %}

{% block title %}Buat Testimoni{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'testimoni/css/template.css' %}">
{% endblock css %}
{% block content %} 
  
    <br>
    <div class="container" id="squareContainer">
        <div class="container" id="header">
            <div class="row">
                <h2 id="judul">Buat Testimoni</h2>
            </div><br>
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row" style="padding-left: 15px;">Pilih Event</div>
                        <select id="cars" name="cars">
                            {% for x in listNamaE %}
                            <option value="volvo">{{x.nama}}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="form-group">
                      <label id="rating">Rating</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="range 0-100"name="rating">
                    </div>
                    <div class="form-group">
                        <label id="foteo">Foto</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="masukkan foto" name="foto">
                    </div>
                    <div class="form-group">
                        <label id="isi">Isi</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="tulis testimoni" name="isi">
                    </div>
                </form>
            </div><br><br>
            <div class="row" style="justify-content: center;">
                <!-- tombol ke page selanjutnya atu sebelumnya -->
                <button type="submit" class="btn btn-primary" style="width: 15%;">Buat Testimoni</button>
                <button type="submit" class="btn btn-primary" style="width: 15%;">Cancel</button>
                <!-- <h5>[Buat Testimoni] [Cancel]</h5>   -->
            </div>
        </div><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  

{% endblock content %}