{% extends 'base.html' %}

{% load static %}

{% block title %}Event+{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'testimoni/css/template.css' %}">
{% endblock css %}
{% block content %} 

    <br>
    <div class="container" id="squareContainer">
        <div class="container" id="header">
        <div class="row">
            <h2 id="judul">Testimoni Saya</h2>
        </div><br>
        <div class="container" id="tabel">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Nama Event</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Isi</th>
                        <th scope="col">Foto</th>
                        <th scope="col">[Edit]</th>
                        <th scope="col">[Delete]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in list_tulisan_drafted %}
                    <tr>
                        <td class="nomor">1</td>
                        <td name="timeStamp">{{ data.timestamp_testimoni }}</td>
                        <td name="namaEvent">{{ data.nama }}</td>
                        <td name="rating">{{ data.rating }}</td>
                        <td name="isi">{{ data.isi }}</td>
                        <td name="foto">{{ data.foto }}</td>
                        <td>
                            <div class="col-3">
                                <a href="{% url 'testimoni:edit-testimoni'%}">
                                    <button
                                    type="submit" class="btn btn-primary">Edit</button>
                                </a>
                                
                            </div>
                        </td>
                        <td>
                            <div class="col-3">
                                <a href="{% url 'testimoni:hapus-testimoni'%}">
                                    <button
                                    type="submit" class="btn btn-primary">Delete</button>
                                </a>
                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br>
    </div>

    <script>
        $(".nomor").each(function(index){
        let num = index + 1;
        $(this).text(num);
        });
    </script>

{% endblock content %}