{% extends 'base.html' %}

{% load static %}

{% block title %}Event+{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'testimoni/css/template.css' %}">
{% endblock css %}
{% block content %} 
   
    <br>
    <div class="container" id="squareContainer">
        <div class="container" id="header">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <h2 id="judul">Update Testimoni</h2>
                </div><br>
                <div class="row">
                    <h5 name="namaEvent">Pilih Event: {{ existingTestimoni.nama }}</h5>
                    <h5 name="rating">Rating: {{ existingTestimoni.rating }}</h5>
                    <h5 name="foto">Foto: {{ existingTestimoni.foto }}</h5>
                    <label for="tulisan">isi:</label>
                    <textarea type="text" name="isi">{{ existingTestimoni.isi }}</textarea>
                </div>
                <br><br>
                <div class="row">
                    <!-- tombol ke page selanjutnya atu sebelumnya -->
                    <div class="col-3">
                        <button href="{% url 'testimoni:edit-testimoni'%}" 
                        type="submit" class="btn btn-primary">Update Testimoni</button>
                    </div>
                    <div class="col-3">
                        <form action="">
                            <button href="{% url 'testimoni:daftar-testimoni'%}" 
                            type="submit" class="btn btn-primary">Cancel</button>
                        </form>
                    </div>
                </div>
            </form>
        </div><br>
    </div>
    <script>
        
    </script>

{% endblock content %}