<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+ | Testimoni</title>
    <link rel="stylesheet" href="{% static 'testimoni/css/template.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container" id="squareContainer">
        <div class="container" id="header">
            <div class="row">
                <h2 id="judul">Hapus Testimoni</h2>
            </div><br>
            <div class="row">
                <h5 id="yesNo">Apakah anda yakin untuk menghapus Testimoni ini?</h5>
            </div><br><br>
            <div class="row">
                <!-- tombol ke page selanjutnya atu sebelumnya -->
                <form action="{% url 'testimoni:hapus-testimoni' %}">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Apakah Anda yakin menghapus tulisan ini?')" )>
                        Ya
                    </button>
                </form>
                <form action="{% url 'testimoni:daftar-testimoni' %}">
                    <button type="submit" class="btn btn-danger">
                        Tidak
                    </button>
                </form>
                <!-- <h5 id="yesNo">[Ya] [Tidak]</h5>   -->
            </div>
        </div><br>
    </div>

    <script>
        
    </script>

</body>